@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 100px 80px;
}

header {
  background-color: rgb(66, 66, 66);
  color: #fff;
  height: 80px;
  text-align: center;
}

header h1 {
  height: 90px;
  padding-top: 20vw;
  color: rgb(66, 66, 66)
}

.title {
  font-size: 48px;
}

.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 400px;
}

.header-logo {
  float: left;
  font-size: 32px;
  padding: 20px 40px;
}

.header-list li {
  float: Right;
  padding: 33px 25px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(158, 158, 158);
  transition: 0.3s;
  padding: 25px 25px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(158, 158, 158);
}

.contact-wrapper {
  padding-top: 100px;
  text-align: center;
}

.contact-wrapper h2 {
  color: rgb(66, 66, 66);
}

.heading {
  padding: 15px 15px;
  margin-bottom: 15px
}

input, textarea {
  width: 50%;
  margin: 15px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 3px;
}

.btn {
  background-color: rgb(66, 66, 66);
  color: white; 
  width: 50%;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom:30px;
  padding: 10px 10px;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  background-color: rgb(158, 158, 158);
}

.btn-scrol {
  margin-top: 150px;
  padding: 15px 15px;
}

.about-wrapper{
  height: 350px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 25px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(158, 158, 158);
  margin-top: 35vw
}

.about-wrapper {
  box-shadow: 0 8px 16px 0 rgba(158, 158, 158);
}

.about-wrapper h2, p {
  color: rgb(66, 66, 66);
}

.content-wrapper{
  padding-top: 20px;
}

.lesson{
    padding-top: 25px;
}

.content-lesson{
    width: 20%;
    float: left;
}

.fa{
  padding: 5px;
}

.icon img{
  border-radius: 80%;
  width: 50%;
}

.icon p{
  font-weight: bold;
}

.content-lesson span{
  color: rgb(66, 66, 66);
}

footer {
  height: 20px;
  text-align: center;
}

.up {
  height: auto;
  padding: 30px 0;
  background-color: rgb(158, 158, 158);
}

.icon {
  margin-right: 25px;
}

.down {
  color: white;
  background-color: rgb(33, 33, 33);
  padding: 5px 0;
}
.animasi
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ededed;
}
.road
{
    position: relative;
    width: 700px;
    height: 150px;
    background: #333;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.road::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #fff, #fff 50%, transparent 50%, transparent 100%);
    background-size: 50px;
    animation: animate_road 0.125s linear infinite;
}
@keyframes animate_road
{
    0%
    {
        background-position: 50px 0;
    }
    100%
    {
        background-position: 0 0;
    }
}
.taxi
{
    position: absolute;
    left: 50px;
    width: 200px;
    height: 80px;
    background: #f4b603;
    border-radius: 10px;
    box-shadow: -10px 10px rgba(0,0,0,0.25);
}
.taxi::before
{
    content: '';
    position: absolute;
    top: 12px;
    left: 2px;
    width: 5px;
    height: 15px;
    border-radius: 2px;
    background: #fc3c25;
    box-shadow: 0 42px #fc3c25;
}
.taxi::after
{
    content: '';
    position: absolute;
    top: 12px;
    right: 2px;
    width: 6px;
    height: 16px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 44px #fff;
}
.taxi span 
{
    position: absolute;
    inset: 5px 10px;
    background: #fdd206;
    border-radius: 10px;
    overflow: hidden;
}
.taxi span::before
{
    content: 'Taxi';
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%, -50%) rotate(90deg);
    background: #fff;
    padding: 2px;
    font-size: 0.75em;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #0005;
    z-index: 10;
}
.taxi span b 
{
    position: absolute;
    inset: 0 30px;
    background: #111;
    border-radius: 10px;
}
.taxi span b::before
{
    content: '';
    position: absolute;
    inset: 6px 25px;
    background: #fdd206;
    border-radius: 5px;
}
.taxi span b::after
{
    content: '';
    position: absolute;
    inset: 0px 58px;
    background: #fdd206;
    border-radius: 5px;
}
.taxi span i {
    position: absolute;
    inset: 0;
}
.taxi span i::before
{
    content: '';
    position: absolute;
    top: 7px;
    left: 20px;
    width: 40px;
    height: #fdd206;
    transform-origin: right;
    transform: rotate(15deg);
    box-shadow: 100px 34px #fdd206;
}
.taxi span i::after
{
    content: '';
    position: absolute;
    bottom: 7px;
    left: 20px;
    width: 40px;
    height: #fdd206;
    transform-origin: right;
    transform: rotate(-15deg);
    box-shadow: 100px -34px #fdd206;
}
.taxi .light_beam 
{
    position: absolute;
    top: 5px;
    right: -2px;
    width: 10px;
    height: 70px;
    background: #000;
    border-radius: 15px;
    transform-style: preserve-3d;
}
.taxi .light_beam::before
{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 150px;
    height: 16px;
    background: linear-gradient(90deg, #fff6, transparent);
    transform-origin: left;
    transform: perspective(500px) rotateY(-50deg);
}
.taxi .light_beam::after
{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 150px;
    height: 16px;
    background: linear-gradient(90deg, #fff6, transparent);
    transform-origin: left;
    transform: perspective(500px) rotateY(-50deg);
}

