/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 100px 80px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(158, 158, 158);
  transition: 0.3s;
  padding: 25px 25px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(158, 158, 158);
}

.contact-wrapper {
  padding-top: 100px;
  text-align: center;
}

.contact-wrapper h2 {
  color: rgb(66, 66, 66);
}

.heading {
  padding: 15px 15px;
  margin-bottom: 15px
}

input, textarea {
  width: 50%;
  margin: 15px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 3px;
}

.btn {
  background-color: rgb(66, 66, 66);
  color: white; 
  width: 50%;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom:30px;
  padding: 10px 10px;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  background-color: rgb(158, 158, 158);
}

footer {
  height: 20px;
  text-align: center;
}

.up {
  height: auto;
  padding: 30px 0;
  background-color: rgb(158, 158, 158);
}

.icon {
  margin-right: 25px;
}

.down {
  color: white;
  background-color: rgb(33, 33, 33);
  padding: 5px 0;
}
