@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: rgb(66, 66, 66);
    color: #fff;
    height: 90px;
  }
  
.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
  }
  
.header-list li {
    float: Right;
    padding: 33px 25px;
  }

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 100px 80px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

header {
  color: rgb(66, 66, 66);
  padding-top: 10vw;
  padding-bottom: 20vw;
  text-align: center;
}

header h1 {
  font-size: 24px;
}

.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: 400px;
}

.about-wrapper{
  padding: 25px 25px;
  border-radius: 5px;
  height: 300px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(158, 158, 158);
}

.about:hover {
  box-shadow: 0 8px 16px 0 rgba(158, 158, 158);
}

.about-wrapper h2, p{
  color: rgb(66, 66, 66);
}

.lesson{
  padding-top: 15px;
}

.content-lesson{
  width: 20%;
  float: left;
}

.icon img{
  border-radius: 80%;
  width: 50%;
}

.icon p{
  font-weight: bold;
}

.content-lesson span{
  color: blue;
  opacity: 0.5;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(158, 158, 158);
  transition: 0.3s;
  padding: 25px 25px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(158, 158, 158);
}

.contact-wrapper {
  padding-top: 100px;
  text-align: center;
}

.contact-wrapper h2 {
  color: rgb(66, 66, 66);
}

.heading {
  padding: 15px 15px;
  margin-bottom: 15px
}

/* .contact-details{
  float: left;
}

.contact-form{
  float: right;
}

.list-item {
  line-height: 4;
  letter-spacing: 4px;
  color: rgb(66, 66, 66);
} */

input, textarea {
  width: 50%;
  margin: 15px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 3px;
}

.btn {
  background-color: rgb(66, 66, 66);
  color: white; 
  width: 50%;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom:30px;
  padding: 10px 10px;
  border: none;
  border-radius: 3px;
}

.btn-scrol {
  margin-top: 100px;
}

.btn:hover {
  background-color: rgb(158, 158, 158);
}

.wrapper{
    height: 500px;
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black ;
    
}

.content-wrapper{
    padding-top: 20px;
    height: ;
}

.lesson{
    padding-top: 40px;
}
.content-lesson{
   
    width: 20%;
    float: left;
}

.icon img{
    border-radius: 80%;
   width: 50%;
}

.icon p{
    font-weight: bold;

}

.content-lesson span{
    color: blue;
    opacity: 0.5;
}

footer {
  height: 20px;
  text-align: center;
}

.up {
  height: auto;
  padding: 30px 0;
  background-color: rgb(158, 158, 158);
}

.icon {
  margin-right: 25px;
}

.down {
  color: white;
  background-color: rgb(33, 33, 33);
  padding: 10px 0;
}
