/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a 
{
    text-decoration: none;
    color: #333;
}
header ul 
{
    position: relative;
    display: flex;

}
header ul li 
{
    list-style: none;
}
header ul li a 
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
@media (max-width: 991px)
{
    header 
    {
        padding: 20px;
    }
    header a 
    {
        max-width: 60px;
    }
    header a h2 
    {
        font-size: 15px;
    }
    header ul
    {
        display: none;
    }
    .toggle 
    {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
    }
    .toggle.active 
    {
        position: fixed;
        background: url(close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    header ul.navigation.active
    {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
    }
    header ul li a 
    {
        font-size: 1.5em;
        margin: 5px 0;
    }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 100px 80px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(158, 158, 158);
  transition: 0.3s;
  padding: 25px 25px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(158, 158, 158);
}

.contact-wrapper {
  padding-top: 100px;
  text-align: center;
}

.contact-wrapper h2 {
  color: rgb(66, 66, 66);
}

.heading {
  padding: 15px 15px;
  margin-bottom: 15px
}

input, textarea {
  width: 50%;
  margin: 15px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 3px;
}

.btn {
  background-color: rgb(66, 66, 66);
  color: white; 
  width: 50%;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom:30px;
  padding: 10px 10px;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  background-color: rgb(158, 158, 158);
}

.wrapper{
    height: 500px;
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black ;
    
}

.content-wrapper{
    padding-top: 20px;
    height: ;
}

.lesson{
    padding-top: 40px;
}
.content-lesson{
   
    width: 20%;
    float: left;
}

.icon img{
    border-radius: 80%;
   width: 50%;
}

.icon p{
    font-weight: bold;

}

.content-lesson span{
    color: blue;
    opacity: 0.5;
}

footer {
  height: 20px;
  text-align: center;
}

.up {
  height: auto;
  padding: 30px 0;
  background-color: rgb(158, 158, 158);
}

.icon {
  margin-right: 25px;
}

.down {
  color: white;
  background-color: rgb(33, 33, 33);
  padding: 5px 0;
}
